@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #EEEEF6;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  margin: 0px 0px 0px 0px;
}

ul {
  padding: 0;
  list-style: none;
}

.container-b {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 50px;
}

.no-webp .header-bg {
  background: url("../img/fold.png") no-repeat; }

.header-bg {
  padding-bottom: 290px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 66px;
}

.menu__link {
  color: #8794BA;
  margin-right: 36px;
  -webkit-transition: .5s color;
  -o-transition: .5s color;
  transition: .5s color;
}

.menu__link:hover {
  color: #fff;
}

.menu__link-log {
  padding: 12px 50px;
  border: 1px #465B95 solid;
  border-radius: 68px;
  -webkit-transition: .5s background-color, color;
  -o-transition: .5s background-color, color;
  transition: .5s background-color, color;
}

.menu__link-log:hover {
  background-color: #fff;
  color: #465B95;
}

.logo-m {
  display: none;
}

.log__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-mob {
  display: none;
}

.header-content {
  margin-top: 92px;
}

.header-content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content__left {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}

.header-content__header {
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

.header-content__text {
  margin-top: 15px;
}

.header-content__button {
  margin-top: 65px;
}

.header-content__button-text {
  padding: 15.5px 80px;
  border-radius: 68px;
  font-size: 16px;
  color: #fff;
  background-color: #EF2A82;
  -webkit-transition: .5s box-shadow, background-color;
  -o-transition: .5s box-shadow, background-color;
  transition: .5s box-shadow, background-color;
}

.header-content__button-text:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #f1227f;
}

.header-content__right {
  padding-top: 78px;
  padding-left: 51px;
}

.main-text {
  font-size: 18px;
  line-height: 150%;
  color: #8794BA;
}

.features {
  text-align: center;
}

.features__text {
  margin-top: 39px;
  color: #8794BA;
  font-size: 18px;
  line-height: 27px;
}

.features__list {
  margin-top: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-header {
  color: #172755;
  font-size: 40px;
  line-height: 47px;
}

.features-tech {
  max-width: 30%;
}

.features-tech {
  margin: 0 auto;
}

.features-tech__header {
  margin-top: 22px;
  color: #172755;
  font-size: 16px;
  line-height: 19px;
}

.features-tech__text {
  font-size: 16px;
  line-height: 22.4px;
  color: #8794BA;
}

.example__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.example__content {
  padding-top: 59px;
  padding-right: 110px;
  max-width: 48%;
}

.example__content-reverse {
  padding-left: 97px;
  padding-right: 20px;
}

.example__image {
  min-width: 51%;
}

.example__img {
  float: right;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.no-webp .footer-bg {
  background: url("../img/background-bottom.png") no-repeat; }

.footer-bg {
  margin-top: 45px;
}

.footer-content {
  text-align: center;
  padding-top: 180px;
}

.footer-content__header {
  color: #fff;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 33px;
}

.footer-content__text {
  padding: 0 260px;
  margin-bottom: 82px;
}

.footer-cards::after {
  content: '';
  display: block;
  height: 1px;
  background: #2A407C;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-card {
  padding: 22px 60px 85px 60px;
  border-radius: 30px;
  background-color: #0F1F4B;
  text-align: center;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.footer-card:hover {
  background-color: #fff;
}

.footer-card:hover .footer-card__header {
  color: #172755;
}

.footer-card:hover .footer-card__price {
  color: #172755;
}

.footer-card:hover .footer-card__order {
  border: none;
  background-color: #EF2A82;
}

.footer-card__header {
  color: #fff;
  font-size: 30px;
  margin-bottom: 26px;
}

.footer-card__users {
  color: #8794BA;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 0;
}

.footer-card__users::after {
  content: '';
  display: block;
  height: 1px;
  background: #2A407C;
  width: 220px;
  margin-top: 50px;
  margin-bottom: 0;
}

.footer-card__price {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
  color: #fff;
}

.footer-card__ye {
  font-size: 30px;
  font-weight: 700;
}

.footer-card__number {
  font-size: 60px;
  font-weight: 700;
  margin-top: 62px;
  margin-bottom: 35px;
}

.footer-card__month {
  color: #8794BA;
  font-size: 16px;
  line-height: 0;
  margin-top: 0px;
  margin-bottom: 70px;
}

.footer-card__order {
  color: #fff;
  padding: 17px 80px;
  border: 1px solid #2A407C;
  border-radius: 68px;
  -webkit-transition: .5s box-shadow, background-color;
  -o-transition: .5s box-shadow, background-color;
  transition: .5s box-shadow, background-color;
}

.footer-card__order:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  background-color: #f1227f;
}

.footer-menu {
  padding-top: 63px;
  padding-bottom: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 270px;
}

.footer-menu__link {
  margin-left: 35px;
  font-size: 14px;
  color: #8794BA;
  -webkit-transition: .5s color;
  -o-transition: .5s color;
  transition: .5s color;
}

.footer-menu__link:hover {
  color: #fff;
}

.footer-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu__social-link {
  margin-left: 40px;
}

@media (max-width: 1180px) {
  .no-webp .header-bg {
    background: url("../img/background-top.png") no-repeat; }
  .header-bg {
    padding-bottom: 100px;
  }

  .header-content {
    margin-top: 40px;
  }

  .header-content__left {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .features__header {
    margin-top: 60px;
  }

  .example::after {
    content: '';
    display: block;
    height: 1px;
    background: #2A407C;
    width: 100%;
    margin-bottom: 0;
  }

  .example__card {
    padding: 0;
  }

  .example__content {
    margin: 0 auto;
    padding-right: 0;
    max-width: 80%;
    padding-top: 0;
  }

  .example__content-reverse {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  .example__image {
    margin: 0 auto;
    padding-bottom: 60px;
  }

  .example__align-mob {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-bg {
    background: #EEEEF6 !important;
    margin-top: 0;
  }

  .footer-content {
    padding-top: 0;
  }

  .footer-content__header {
    color: #172755;
  }

  .footer-content__text {
    padding: 0;
  }

  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer-card {
    max-width: 300px;
    margin: 10px auto;
  }

  .footer-card__users::after {
    width: 190px;
  }
}

@media (max-width: 1000px) {
  .container-b {
    padding-top: 0;
  }

  .container {
    padding: 0;
  }

  .logo-m {
    display: block;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 100;
  }

  .header__mobile {
    background: #1726556e;
    position: relative;
    width: 100vw;
  }

  body.lock {
    overflow: hidden;
  }

  .scroll {
    position: fixed;
  }

  .logo {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 103;
    left: 85%;
    top: -30px;
  }

  .header__burger span {
    position: absolute;
    background-color: #828282;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #828282;
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #172655f0;
    top: -100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow: auto;
    display: block;
  }

  .menu.active {
    top: 0;
  }

  .menu__list {
    display: block;
    padding-top: 10px;
    padding-left: calc(50% - 50px);
  }

  .menu__list li {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
  }

  .menu__link {
    font-size: 30px;
    line-height: 0;
    font-weight: 700;
    margin-right: 0;
    margin: 0 auto;
  }

  .log__list {
    display: block;
    text-align: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .log__list::before {
    content: '';
    display: block;
    height: 1px;
    background: #878787;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .log__list li {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
  }

  .log__link {
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
  }

  .footer-end {
    display: none;
  }

  .social-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    position: absolute;
    left: 80%;
    top: 40%;
  }

  .header-content {
    margin-top: 0;
    padding-top: 40px;
  }

  .features__list {
    min-width: 300px;
  }

  .features-tech {
    max-width: 80%;
    min-width: 30%;
  }
}

@media (max-width: 1000px) and (max-width: 436px) {
  .social-mob {
    left: 75%;
  }
}

@media (max-width: 668px) {
  .header-content__left {
    padding-top: 10px;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }

  .header-content__header {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

.webp .header-bg { background: url(../img/fold.webp) no-repeat; }

.webp .footer-bg { background: url(../img/background-bottom.webp) no-repeat; }

@media (max-width: 1180px) {

  .webp .header-bg { background: url(../img/background-top.webp) no-repeat; }
}